* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*******
common 
*******/

body {

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header,
main,
footer {

    padding: 0px 170px;
}

header > div,
main > div,
footer > div {

    border: 2px dashed black;
}

/*******
header 
*******/

header {

    background-color: #ff6900;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

/*******
main 
*******/
.card-box {

    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.img-box img {

    width: 100%;
}

.img-box:hover img.upper-img {

    display: none;
}

.img-box:hover img.lower-img {

    display: block;
}

.lower-img {

    display: none;
}

.item-name-box {

    font-size: large;
    font-weight: bold;
    text-transform: uppercase;
}

.price-box {

    display: flex;
    gap: 5px;
}

.standard-price {

    text-decoration: line-through;
}

.discount-price {

    color: #ff0000;
}

.favorite-ico {
    
    position: absolute;
    top: 10px;
    right: 0;
    background-color: #ffffff;
    padding: 20px;
}

.item-tag {

    display: flex;
    color: #ffffff;
    gap: 5px;
    position: absolute;
    bottom: 100px;
}

.tag {

    padding: 5px 10px;
    font-weight: bold;
}

.discount {

    background-color: #ff0000;
}

.ambient {

    background-color: #008000;
}


/*******
footer 
*******/